naaccr_ddict/?c=*
*~
,*
.ipynb_checkpoints
*.db
derby.log
metastore_db
.direnv
vendor/
__pycache__
.mypy_cache/

# TODO: license?
naaccr_ddict/data_descriptor.csv
naaccr_ddict/item_description.csv
naaccr_ddict/record_layout.csv
