##
# We recommend Anaconda for most uses. See environment.yml,
# env-dev.yml and CONTRIBUTING.md for detail.
#
# But requirements.txt is still useful for github security checks etc.

##
# Runtime deps

pyspark==2.4.3
pandas==0.24.2
luigi==2.8.9
eliot==1.10.0

##
# Static analysis deps
flake8==3.7.8
mypy==0.730
pyspark-stubs==2.4.0.post5

##
# Full pip freeze from docker-check
boltons==19.1.0
docopt==0.6.2
docutils==0.15.2
eliot==1.10.0
entrypoints==0.3
flake8==3.7.8
lockfile==0.12.2
luigi==2.8.9
mccabe==0.6.1
mypy==0.730
mypy-extensions==0.4.1
numpy==1.17.2
pandas==0.24.2
py-make==0.1.1
py4j==0.10.7
pycodestyle==2.5.0
pyflakes==2.1.1
pyrsistent==0.15.4
pyspark==2.4.3
pyspark-stubs==2.4.0.post5
python-daemon==2.1.2
python-dateutil==2.8.0
pytz==2019.2
six==1.12.0
tornado==5.1.1
typed-ast==1.4.0
typing-extensions==3.7.4
zope.interface==4.6.0
