##
# We recommend Anaconda for most uses. See environment.yml,
# env-dev.yml and CONTRIBUTING.md for detail.
#
# But requirements.txt is still useful for github security checks etc.

##
# Runtime deps

pyspark==2.4.3
jupyter==1.0.0
pandas==0.24.2
luigi==2.8.9
eliot==1.10.0

##
# Static analysis deps
flake8==3.7.8
mypy
pyspark-stubs

##
# IDEA: Full pip freeze here
